# Carpeta d'uploads (PDFs, fitxers pujats)
public/uploads/

# Fitxers temporals de Windows
Thumbs.db
desktop.ini

# Fitxers de log (per si algun dia en generes)
*.log

#Config local
/src/config.local.php
